<%- include("header"); -%>

<div class="jumbotron jumbotron-fluid sorryMessage">
  <div class="container">
    <h1 class="display-4">Sorry couldn't find that!</h1>
    <p class="lead">
      You might have misspelled something.
      You can use romaji, english, kana, kanji and numbers.
    </p>
  </div>
</div>

<%- include("footer"); -%>
